@import "https://fonts.googleapis.com/css?family=Roboto";
body {
  background-color: #E7E7E7;
  font-family: 'Roboto', sans-serif; }

md-content md-card.default-card, md-content.md-primoExplore-theme md-card.default-card {
  background-color: #F8F8F8; }

primo-explore {
  position: static !important; }

prm-topbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  z-index: 15;
  /*START: Display clickable logo*/
  /*END: Display clickable logo*/ }
  prm-topbar .top-nav-bar {
    background-color: white; }
    prm-topbar .top-nav-bar .md-button.button-over-dark, prm-topbar .top-nav-bar .md-button {
      color: rgba(0, 0, 0, 0.65); }
      prm-topbar .top-nav-bar .md-button.button-over-dark:hover:not([disabled]), prm-topbar .top-nav-bar .md-button:hover:not([disabled]) {
        color: rgba(0, 0, 0, 0.65);
        background-color: #E7E7E7; }
    prm-topbar .top-nav-bar .user-name {
      color: #47A447; }
    prm-topbar .top-nav-bar .user-language {
      color: rgba(0, 0, 0, 0.65); }
  prm-topbar prm-logo div.product-logo {
    display: none; }
  prm-topbar prm-logo div.product-logo-local {
    display: flex; }

.md-button.button-confirm {
  color: #47A447; }

/*START: Hovered topbar */
prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background {
  background-color: #d0d0d0 !important; }
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]) md-select {
  color: rgba(0, 0, 0, 0.65); }
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]) {
  background-color: #E7E7E7; }

prm-icon md-icon,
prm-icon md-icon.md-primoExplore-theme {
  color: rgba(0, 0, 0, 0.65) !important; }

/*END: Hovered topbar */
prm-search-bar {
  background-color: white; }
  prm-search-bar .search-element-inner {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09) !important; }
  prm-search-bar .search-switch-buttons .md-button.switch-to-advanced, prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
    color: #45AAB4; }
  prm-search-bar .advanced-search-backdrop {
    background-color: white; }

prm-atoz-search-bar {
  background-color: white; }
  prm-atoz-search-bar .search-element-inner {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09) !important; }
  prm-atoz-search-bar .search-switch-buttons .md-button.switch-to-advanced, prm-atoz-search-bar .search-switch-buttons .md-button.switch-to-simple {
    color: #45AAB4; }

prm-alphabet-toolbar .md-button {
  color: #000; }

bar.alert-bar, .classic-input .search-scope, .prm-alert-bg {
  background-color: #E7E7E7; }

.rex-announcement {
  z-index: 16;
  padding: 0;
  width: 100%;
  height: 64px;
  position: fixed !important;
  background-color: #fffcc4; }
  .rex-announcement .md-toast-content {
    justify-content: center;
    box-shadow: none;
    background-color: #fffcc4;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%; }
    .rex-announcement .md-toast-content, .rex-announcement .md-toast-content .md-button {
      color: #444; }
  .rex-announcement.ng-enter {
    -webkit-transform: translate3d(0, -100%, 0) !important;
    transform: translate3d(0, -100%, 0) !important; }
  .rex-announcement.ng-enter.ng-enter-active {
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important; }

@media screen and (min-width: 960px) {
  .shifted-topbar {
    margin-top: 64px; } }

rex-search-tips {
  min-width: 52px; }
  rex-search-tips button.md-button md-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 4px;
    color: rgba(0, 0, 0, 0.65) !important; }

prm-search-result-list md-list-item, prm-search-result-list .results-title {
  background-color: #F8F8F8; }

prm-search-result-availability-line .md-button.arrow-link-button .button-content, prm-search-result-availability-line .md-button.arrow-link-button [link-arrow] {
  color: #1F2D42; }

prm-search-result-frbr-line .md-button.arrow-link-button .button-content > prm-icon:first-child, prm-search-result-frbr-line .prm-notice {
  color: #45AAB4; }
prm-search-result-frbr-line .md-button.arrow-link-button .button-content, prm-search-result-frbr-line .md-button.arrow-link-button [link-arrow] {
  color: #45AAB4; }

prm-facet-group input[ng-model^="$ctrl.facetGroup.additionalData.selected"] {
  background-color: white;
  border-bottom-color: grey;
  max-width: 57px; }

div.sidebar-section.filtered-facets-section.animate-chip-section.margin-bottom-large {
  background-color: #FFFCC4; }

.request-button {
  background-color: green;
  color: white; }
  .request-button:hover:not([disabled]) {
    background-color: #dcdcdc;
    color: green; }

#tags, button[aria-label^="Tags"] {
  display: none; }

/*# sourceMappingURL=rex.css.map */
