.request-button {

  background-color: green;
  color: white;

  &:hover:not([disabled]) {
    background-color: #dcdcdc;
    color: green;
  }

}

#tags, button[aria-label^="Tags"] {
  display: none;
}