@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  background-color: #E7E7E7;
  font-family: 'Roboto', sans-serif;
}

md-content, md-content.md-primoExplore-theme {
  
  md-card.default-card {
    background-color: $content-background-color;
  }
}

// The info bar attempts to set the position of this element to 'relative', which breaks other functionality.
// The following makes sure that the position will not be modified.
primo-explore {
  position: static!important;
}