@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  background-color: #E7E7E7;
  font-family: 'Roboto', sans-serif;
}

md-content, md-content.md-primoExplore-theme {
  
  md-card.default-card {
    background-color: $content-background-color;
  }
}

