<div ng-repeat="person in $ctrl.persons"> 

  <div layout="row" layout-xs="column">
    
    <div flex-gt-xs="25" flex ng-if="person.image">
      <img style="max-width:100%;" ng-src="{{person.image[0]}}">
    </div>
    <div flex flex-offset-gt-xs="5">
      <div ng-if="person.name">Name: {{ person.name.join(', ') }} </div> 
      <div ng-if="person.description">Description: {{ person.description.join(', ') }} </div> 
      <div ng-if="person.altLabel">As known as: {{ person.altLabel.join(', ') }} </div> 
      <div ng-if="person.dateOfBirth">Date of birth: {{ person.dateOfBirth[0] }} </div> 
      <div ng-if="person.dateOfDeath">Date of death: {{ person.dateOfDeath[0] }} </div> 
      <div ng-if="person.placeOfBirth">Place of birth: {{ person.placeOfBirth.join(', ') }} </div> 
      <div ng-if="person.placeOfDeath">Place of death: {{ person.placeOfDeath.join(', ') }} </div> 
      <div ng-if="person.gender">Gender: {{ person.gender.join(', ') }} </div> 
      <div ng-if="person.pseudonym">Pseudonym: {{ person.pseudonym.join(', ') }} </div> 
      <div ng-if="person.countryOfCitizenship">Country of citizenship: {{ person.countryOfCitizenship.join(',') }} </div> 
      <div ng-if="person.occupation">Occupation: {{ person.occupation.join(', ') }} </div> 
      <div ng-if="person.usedLanguage">Used Language: {{ person.usedLanguage.join(', ') }} </div> 
      <div ng-if="person.nativeLanguage">Native Language: {{ person.nativeLanguage.join(', ') }} </div> 
    </div>

  </div>

</div>