<md-card class="default-card">

  <md-card-title >
    <md-card-title-text>
      <span class="md-headline" style="background-color: #6A6864;color: #FFFFFF;padding: 5px">Nyheder</span>
    </md-card-title-text>
  </md-card-title>
  
  <md-card-content>
    <div ng-repeat="entry in $ctrl.feed"> 
      
      <a ng-href="{{entry.link}}" target="_blank">
        <h3>{{ entry.title }}</h3> 
        <p style="margin: -0.5em 0em 0.5em;">{{ entry.time | date: 'medium' }}</p> 
      </a>
      
      <p ng-if="entry.summary"><a style="color:#3a3a3a; margin: -0.5em 0.5em 0.5em;" ng-href="{{entry.link}}" target="_blank"> {{ entry.summary }} </a></p>
    </div>
  </md-card-content>

</md-card>